* text=auto eol=lf

*.dll    binary
*.so     binary
*.dylib  binary
*.engine binary
*.onnx   binary

*.png binary
*.jpg binary
*.jpeg binary

*.py     text eol=lf
*.cpp    text eol=lf
*.hpp    text eol=lf
*.h      text eol=lf
*.md     text eol=lf
*.toml   text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf